<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <label>Name:</label>
    <input type="text" name="name" ngModel required>

    <label>Email:</label>
    <input type="email" name="email" ngModel required email>
    <label>Mobile:</label>
    <input type="number" name="mobile" ngModel required mobile>

    <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form>
<div *ngIf="submitted">
    <h3>Form Submitted Successfully!</h3>
    <p>Name: {{ userForm.value.name }}</p>
    <p>Email: {{ userForm.value.email }}</p>
</div>