<div class="container">
    <table class="table table-borderd">
        <tr>
            <td>Id</td>
            <td>
                <input type="text" [(ngModel)]="id">
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" [(ngModel)]="product.name">
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="number" [(ngModel)]="product.price">
            </td>
        </tr>
        <tr>
            <td>Stock</td>
            <td>
                <input type="number" [(ngModel)]="stock">
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="edit()">Edit</button>
            </td>
            <td>
                <button (click)="delete()">Delete</button>
            </td>
        </tr>
    </table>
</div>