<div>
    <h1>Indian Famous Cities!!</h1>
    <h3 *ngFor="let city of cities">{{city}}</h3>
    <hr>
    <ol>
        <li *ngFor="let city of cities;let i=index">{{i+1}}-{{city}}</li>
    </ol>
    <hr>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Cities</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cities">
                <td>{{city}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <ul>
        @for (item of cities; track $index) {
        <li>{{item}}</li>
        }
    </ul>
    <hr>
    Qty:<select>
        @for(n of numbers; track $index)
        {
        <option>{{n}}</option>
        }
    </select>
</div>