body {
    font-family: Arial;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
}

.card img {
    transition: 0.3s;
}

.card:hover img {
    transform: scale(1.05);
}