.navbar-nav .nav-link {
  color: white !important;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ffdd57 !important;
  transform: scale(1.05);
}

.navbar-brand {
  transition: transform 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.05);
}
